.card {
    width: 332px;
    height: 462px;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    border: 1px solid #f5f5f7;
    margin: 30px;

    background: #ffffff;
    h1 {
        font-size: 28px;
        line-height: 40px;
        color: #2e2e33;
    }
}

.arrow {
    margin-top: 20px;
    margin-bottom: 24px;
}

.banner {
    margin-top: 10px;
}
