.cover {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 332px;
    height: 462px;
    left: 432px;
    top: 26px;
    color: #2e2e33;

    background: #ffffff;
    border: 1px solid #f5f5f7;
}
