.price {
    align-self: flex-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;

    color: #2e2e33;
    margin-top: 7px;
    margin-bottom: 13px;
}

.price_sign {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;

    color: #999999;
}
