.container {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 2;

    background: #000;
    min-height: 10em;
    min-width: 10em;

    border-radius: 1em;
    padding: 1.3em;

    font-weight: bold;
    color: white;

    .nav {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
        gap: 2em;

        p {
            display: flex;
            font-size: 1.2em;
            gap: 0.4em;
            align-items: center;
        }

        button {
            background: none;
            padding: 0.2em;
            cursor: pointer;
        }
    }

    .items {
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 25em;

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 0.5em;

            font-size: 10px;
            background: white;
            color: #061b20;
            color: white;
            border-radius: 10px;
            padding: 10px;
            margin: 5px;

            p {
                max-width: 10em;
                text-align: center;
                color: #061b20;
            }

            img {
                border-radius: 5px;
            }
        }

        .empty {
            display: flex;
            justify-content: center;
            width: 100%;
            background: linear-gradient(rgb(24, 23, 23), rgb(48, 48, 47));
            border-radius: 1em;
            padding: 1em;
            margin: 1em 0;
        }
    }
    .title {
        margin: 1em 0;
    }
}

/* Closed cart state, round button */
.vidget {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 2;

    background: #000;
    font-size: 2em;

    padding: 0.7em;
    border-radius: 3em;

    cursor: pointer;
    user-select: none;

    transition: all;
    transition-duration: 200ms;

    &:hover {
        background: #061b20;
        padding: 0.75em;
    }

    .icon {
        position: relative;

        .counter {
            display: flex;
            align-items: center;
            justify-content: center;

            position: absolute;
            top: 0px;
            right: -4px;

            font-size: 0.6rem;
            height: 1.4em;
            width: 1.4em;
            padding: 3px;

            border-radius: 50%;

            font-weight: 700;
            background: rgb(212, 72, 72);
        }
    }
}
